@media screen and (min-width: 300px) {
  .container {
    padding: 16px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.card {
  margin: 0 !important;
  background-color: transparent !important;
  display: flex;
}

.card-header {
  img {
    border-radius: 0.8rem;
    box-shadow: 0rem 2rem 5rem gray;
  }

  h2 {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 15px;
  }

  padding: 0 !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}