<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Popular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Popular</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="card" *ngFor="let movie of movies">
      <div class="card-header">
        <img src="{{images_url + 'original' + movie.poster_path}}" alt="">
        <!-- <ion-img src={{images_url + '/w500' + movie.poster_path}}
            alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img> -->
        <h2>{{ movie.title || movie.name }}</h2>
        <div>{{movie.vote_average}}</div>
      </div>
      <!-- <ion-card-content>{{ movie.overview}}</ion-card-content> -->
    </div>
  </div>


</ion-content>