<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="top-rated">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Top Rated</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upcoming">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="popular">
      <ion-icon aria-hidden="true" name="trending-up-outline"></ion-icon>
      <ion-label>Popular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="genre">
      <ion-icon aria-hidden="true" name="albums"></ion-icon>
      <ion-label>Genres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
